* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.name { 
    font-size: 30px;
    text-align: center;
    padding: 15px;
}

.menu-banner {
    display: flex;
    justify-content: center;
}

.menu-banner > img{
    width: 100px;
}

.About {
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.ep {
    width: 600px;
    height: 40px;
    margin: 0 auto;
}

.ep > p {
    display: flex;
    justify-content: center;
}

.MystepP { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.stepimg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


.step-logo > ul > li > a > img {
    width: 100px;
    height: 100px;
}
.step-logo {
    display: flex;
    justify-content: space-between;
}


.pj1 > img {
    width: 80px;
    height: 80px;
}

.pj-grub {
    text-align: center;
}

.pjname > p {
    font-size: 20px;
    padding: 10px;
}

.explanation_name > p {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}

.explanation > p {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}


.pjimg > img {
    padding: 20px;
    margin: 10px;
    width: 400px;
    height: 400px;
}

.fd1 > p {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}
.fd > p {
    font-size: 15px;
}

.fn > p {
    font-size: 20px;
}

.final {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 20px;   
    font-size: 40px;
}